<%- include('header'); -%>
<%- include('nav'); -%>

<main class="contact">
  <h4>Wie</h4>
  <p>Irina Perriëns</p>
  <h4>wat</h4>
  <p>Museum met allerlei verschillende soorten werken van verschillende soorten kunstenaars.</p>
  <h4>Waar</h4>
  <p>Te Antwerpen</p>
  <h4>Waarom</h4>
  <p>Voor de kunstliefhebbers onder ons</p>
</main>

<%- include('footer'); -%>
