<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Museum</title>
  </head>
  <body>
      <header>
            <h1>Kunstmuseum</h1>
      </header>


<link rel="stylesheet" href="/css/reset_plus.css">
<link rel="stylesheet" href="/css/master.css">
<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
