<nav>
  <ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/overzicht">Overzicht</a> </li>
    <li> <a href="/contact">Contact</a> </li>
    <li>
        <form class="searchbar" action="/result" method="post">
          <input type="text" placeholder="Zoeken..." name="query">
          <button type="submit" class="btn fa fa-search"></button>
        </form>
    </li>
  </ul>
</nav>
