/* HEADER */

header {
  background-color: #FB5012;
  margin: 0;
  width: 100%;
}
h1 {
  padding: 1rem;
  font-size: 15rem;
  font-family: 'Cabin Sketch', cursive;
  color: white;
  text-align: center;
}

/* FOOTER */
footer {
  background-color: #FB5012;
  margin: 0;
  width: 100%;
}

footer p {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  padding: 4rem;
}

/* NAV */

 nav {
   margin-bottom: 10rem;
 }

 li a {
   text-decoration: none;
   color: #FB5012;
   font-family: sans-serif;
   text-transform: uppercase;
   font-size: 8rem;
 }

 li {
   padding-top: 5rem;
   text-align: center;
   font-weight: 500;
 }

 /* IMG */

img {
  width: 100vw;
  margin-bottom: 2rem;
}

.werkcontainer {
  position: relative;
}

.textcontainer {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  padding: 1rem 0 1rem 1rem;
  font-size: 4rem;
  font-family: sans-serif;
}

.textcontainer h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.werkcontainer a {
  background-color: #FB5012;
  position: absolute;
  bottom: 5rem;
  right: 3rem;
  padding: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 4rem;
}

.uitleg {
  text-align: center;
  margin:4rem;
  line-height: 5rem;
  font-size: 4rem;
  font-family: sans-serif;
}


/* OVERZICHT PAGINA */

h3 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 8rem;
  margin: 3rem 0 5rem 2rem;
}


.button {
  border: 1px solid #FB5012;
  margin: 0rem 0 2rem 1rem;
  border-color: white;
  padding: 1rem;
  font-size: 4rem;
}

.is-checked {
  background-color: #FB5012;
  color: white;
}

/* DETAIL PAGINA */

.detail p {
  text-align: center;
  margin:2rem;
  font-size: 4rem;
  font-family: sans-serif;
  line-height: 5rem;
  margin-bottom: 27rem;
}

.detail h3 {
  text-align: center;
}


.detailtime {
  margin: 0 0 0 0rem;
  padding: 1rem;
  position: absolute;
  top:0rem;
  color: white;
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  font-family: sans-serif;
  font-size: 4rem;
  line-height: 5rem;
}

.imgcontainer  {
  position: relative;
}


.werkcontainer {
  margin-top: 5rem;
}
/* CONTACT */

.contact {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #FB5012;
  color: white;
  font-family: sans-serif;
  width: 80%;
  padding: 2rem;
  margin-bottom: 25rem;
  margin-top: 8rem;
}

.contact p, .contact h4{
  margin-top: 2rem;
}


.contact h4 {
  font-size: 4rem;
  font-weight: 600;
}

.contact p {
  font-size: 1.8rem;
}

/* SEARCH */


form.searchbar input[type=text] {
  margin-top: 5rem;
  padding: 10px;
  font-size: 17px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: #f1f1f1;
  height: 8rem;
  border: none;
}


.btn  {
  width: 10%;
  height: 8rem;
  padding: 10px;
  background: #FB5012;
  color: white;
  font-size: 17px;
  border:none;
  cursor: pointer;
}

.btn:hover{
  background: #FB8015;
}

::placeholder {
  font-size: 3rem;
}

input[type=text]{
  font-size: 50px
}

.result {
  margin: 4rem 0 0 2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #FB5012;
}
